.audio-player {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 300px;
    background-color: #ededed;
    border-radius: 20px;
    margin-bottom: 20px;
}


.left_part {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 240px;
}

.music_title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    color: #3f3f3f;
}

.music_duration {
    color: #91a0ae;
    display: flex;
    justify-content: space-between;
}

.music_progress {
    background-color: #c6bfbf;
    border-radius: 5px;
    height: 6px;
    position: relative;
    cursor: pointer;
}
  
.progress_inplay {
    background-color: #5781b2;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: all 0.2s linear;
}


.right_part {
    margin-left: 30px;
    width: 80px;
}


.player_controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.audio-player .fas {
    color: #5781b2;
    cursor: pointer;
    margin-right: 25px;
    user-select: none;
    transition: all 0.3s ease-in;
}

.audio-player .fas:hover {
    filter: brightness(80%);
}

.play-button {
    font-size: 36px;
}

