{{ $background_path :=  "default-background.png" }}
{{ with .Site.Params.cover }}
    {{ $background_path = . }}
{{ end }}
{{ if resources.Get $background_path }}
    {{ $background_path = (resources.Get $background_path).RelPermalink }}
{{ end }}
<div class="jumbotron" style="background-image: url({{ $background_path }});">
    <div class="container">
        <div class="site-title">
            <a href="{{ .link }}">{{ .context.Site.Params.title }}</a>
        </div>
        <p class="signature">{{ .context.Site.Params.signature }}</p>
    </div>
</div>