{{ $logo_file := "default_link_logo.png" }}

{{ if eq 1 (len (findRE `(https?://)?mp\.weixin\.qq\.com([-a-zA-Z0-9()@:%\+.~#?&/=_]*)` .a)) }}
    {{ $logo_file = "wechat.png"}}
{{ end }}

{{ if eq 1 (len (findRE `(https?://)?(www\.)?bilibili\.com/video/([-a-zA-Z0-9()@:%\+.~#?&/=_]*)` .a)) }}
    {{ $logo_file = "bilibili.png"}}
{{ end }}

{{ if eq 1 (len (findRE `(https?://)?(www\.)?github\.com([-a-zA-Z0-9()@:%\+.~#?&/=_]*)` .a)) }}
    {{ $logo_file = "github.png"}}
{{ end }}

{{ if eq 1 (len (findRE `(https?://)?(www\.)?zhihu\.com/question/([0-9]*)/answer/[0-9]*` .a)) }}
    {{ $logo_file = "zhihu.svg"}}
{{ end }}

{{ if eq 1 (len (findRE `(https?://)?zhuanlan\.zhihu\.com/p/([0-9]*)` .a)) }}
    {{ $logo_file = "zhihu.svg"}}
{{ end }}

<div class="share-link-block">
    <table class="link-table">
    <tr>
        <td>
            {{ $baseurl := .baseurl}}
            {{ with .logo }}
            <img src="{{ . }}" class="link-logo">
            {{ else }}
            <img src="{{ $baseurl }}/link-logos/{{ $logo_file }}" class="link-logo">
            {{ end }}
        </td>
        <td style="padding-left: 20px">
            <a href="{{ .a }}">{{.word}}</a>
        </td>
    </tr>
    </table>
</div>