<!-- START -->
<div class="pic-grid">
    <!-- todo change display style for 2 * 2 -->
    <div class="pure-g">
        {{ range $num, $a := .pic_set }}
        <div class="pure-u-1-3">
            <div class="add-padding">
                <div class="img-container">
                    <a data-src="{{ $a }}" data-fancybox="gallery">
                        <img src="{{ $a }}" alt="pictures"/>
                    </a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>