<!-- START -->
{{ $num_per_row := 3}}
{{ $max_width := 80}}
{{ if or (eq (len .pic_set) 2) (eq (len .pic_set) 4)}}
    {{ $num_per_row = 2}}
    {{ $max_width = 53}}
{{ end }}
<div class="pic-grid" style="width: {{ $max_width }}%">
    <div class="pure-g">
        {{ range $num, $a := .pic_set }}
        <div class="pure-u-1-{{ $num_per_row }}">
            <div class="add-padding">
                <div class="img-container">
                    <a data-src="{{ $a }}" data-fancybox="gallery">
                        <img src="{{ $a }}" alt="pictures"/>
                    </a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>